.healthBarContainer {
  border: 1px solid black;
  height: 20px;
}

.healtBarContent {
  background-color: green;
  height: 100%;
  width: 80%;
  transition: width 3s;
}

.healtBarColorTransition {
  transition: background-color 2s;
}